[Unit]
Description=Telegram bot 'nitification'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/KASplansBot
ExecStart=/usr/bin/python3 /usr/local/bin/KASplansBot/nitification.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target
